@layout('layouts/base') 
@set('title', 'Dashboard') 

@section('body')
<section
	class="min-h-screen flex flex-col item-center py-10 mx-auto gap-3"
	>
	<div class="min-h-[250px]">
		@include("partials/app-navigation")
		
		<div class="h-[250px] mb-10 bg-surface flex items-center justify-center border border-overlay rounded-md">
			<p class="text-center text-muted">
				Nothing to show...
			</p>
		</div>
	</div>
	</section>
@end