@layout("layouts/base")
@set("title","rman | Work check-in done properly")


@section('body')
<section class="min-h-screen py-10 flex flex-col item-center mx-auto">
  <div class="w-full mx-auto flex items-center justify-between">
    <h1 class="pagetitle">RMan</h1>
    <div class="flex items-center gap-4">
      <a class="btn" href="/register">Get Started</a>
      <a class="btn secondary" href="/login">Login</a>
    </div>
  </div>
</section>
@end
